.demo-img{
    width:0;
    height: auto;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    
}

.demo-img.active {
    opacity: 1; /* Show the active image */
    width: 100% ;
}


.dot-btn{
    border-radius:70px;
    padding: 0 5px;
    border: none;
    color:#98ADB1;
    background-color: #98ADB1;
    cursor: pointer;
    margin: 5px 8px;
    font-size: 11px;
}


.dot-btn.active{
    background-color: #6DF1B3;
}

#img-carousel{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#carousel-btns{
    display:flex;
    flex-direction: row;
    justify-items: space-evenly;
    color: #0a9bb8;
}

.showcase{
    position : relative;
}

.project-info{
    height: fit-content;
    padding: 2% 0px
}

.corner{
    /* background-color: #0c373d; */
    margin-left: 2%;
    position: relative;
}

.corner::before,
.corner::after {
  content: '';
  position: absolute;
  width: 40px; /* Adjust thickness of the borders */
  height: 40px; /* Adjust thickness of the borders */
  border: 2px solid rgb(255, 255, 255); /* Border color and thickness */
}

.corner::before {
  top: 0;
  left: 0;
  border-right: none; /* Remove border on right */
  border-bottom: none; /* Remove border on bottom */
}

.corner::after {
  bottom: 0;
  right: 0;
  border-left: none; /* Remove border on left */
  border-top: none; /* Remove border on top */
}

#triangle-btn-right{
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #98ADB1;
    margin-left: 2%;
    position:relative;
}

#triangle-btn-left{
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #98ADB1;
    margin-right: 2%;
}


#triangle-btn-right:hover{
    border-left:solid 15px #6DF1B3;
}

#triangle-btn-left:hover{
    border-right:solid 15px #6DF1B3;
}

.skill-bubble{
    background-color: #0c373d ;
    border-radius: 10px;
    width: fit-content;
    padding: 4px 9px;
    margin-left:35px;
    color:#98ADB1;
    margin-bottom: 2%;
}

#carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.icon{
    width: 30px;
    height: auto;
    color: #E9F4F6;
}

.icon:hover{
    color:#6DF1B3;
    cursor: pointer;
}