.workplace{
    border-left: solid 3px #98ADB1;
    padding: 15px 60px 15px 15px;
    color: #98ADB1;
    font: inherit;
    cursor: pointer;
    text-align: left;
    font-size: 17px;
}

.scrollbar {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.workplace:hover{
    background-color:  hsl(213, 45%, 25%);
    /* color: #6DF1B3; */
    color : hsl(184, 100%, 57%);
}

.fancy:hover{
    text-decoration: underline hsl(184, 100%, 57%);
}

.position-title{
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 24px;
}

.resume-info {
    margin-left: 1%;
    border-radius: 3px;
}

.points{
    color:#98ADB1;
    font-size: 17px;
    list-style:none;
    padding-bottom: 2%; 
}

.points::before {
    content: "◈ ";
    /* color: #6DF1B3; */
    color : hsl(184, 100%, 57%);

    left: 0; /* Position it to the left of the list item */
}

.sub-info {
    padding: 0;
    margin: 0;
    color:#98ADB1;
    font-size: 18px;
    font-weight: 500;
}

.first-line{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
