.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #082128;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-header > h1{
  color:#7d9da6;
}

.highlighted {
  color: #84def7;

}